language: php
os:
  - linux
dist: bionic
sudo: false
cache:
  directories:
    - $HOME/.composer/cache
php:
  
  - 'nightly'  
env:
  global:
    - TEST_COMMAND: '"composer test"'
branches:
  except:
    - /^analysis-.*$/
before_install:
  - >-
    if ! [ -v "$DEPENDENCIES" ]; then composer require --no-update
    ${DEPENDENCIES}; fi;
install:
  - 'composer update ${COMPOSER_FLAGS} --prefer-source --no-interaction'
script:
  - $TEST_COMMAND
after_success:
  - >-
    if [[ "$COVERAGE" = true ]]; then wget
    https://scrutinizer-ci.com/ocular.phar; fi
  - >-
    if [[ "$COVERAGE" = true ]]; then php ocular.phar code-coverage:upload
    --format=php-clover build/coverage.xml; fi
jobs:
  fast_finish: true
  allow_failures:
    - php: nightly
  include:
    - php: '8.1.0'
      name: Backward compatibillity check
      env:
        - DEPENDENCIES: '"roave/backward-compatibility-check"'
          TEST_COMMAND: '"./vendor/bin/roave-backward-compatibility-check"'
    - php: '7.4'
      name: Lowest version of dependencies
      env:
        - COMPOSER_FLAGS: '"--prefer-stable --prefer-lowest"'
          COVERAGE: 'true'
          TEST_COMMAND: '"composer test-ci"'